@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #100e16;
    display: flex;
    /*O flex faz com que fiquem lado a lado*/
    justify-content: center;
    /*eixo x*/
    align-items: center;
    /*eixo y*/
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*Deixa os elementos em coluna*/
}

.left-login>h1 {
    color: #ff0077;
}

.left-login-image {
    font-size: 10vw;
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #1c1727;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    /*A sombra do elemento*/
}

.card-login>h1 {
    color: #ff0077;
    font-weight: 800;
    /*Peso da font, 800 é como se fosse o bold*/
    margin: 0;
}

.text-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0px;
}

.text-field>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #362d50;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.text-field>label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.text-field>input::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    /*Transforma tudo em maiúscula*/
    font-weight: 800;
    letter-spacing: 3px;
    /*Espaçamento entre as letras*/
    color: #2b134b;
    background-color: #ff0077;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #770138;
}

.btn-login:hover {
    color: #ff0077;
    background-color: #1c1727;
    box-shadow: 0px 10px 30px -12px #910e5c;
}

/*Enquanto for na tela uma largura de 950px adicione os elementos que foi colocado:*/

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login>h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 30vh;
    }

    .card-login {
        width: 90;
    }
}